{
    "useTabs": true,
    "tabWidth": 1,
    "semi": false,
    "overrides": [
        {
            "files": "package.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
